.card {
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 450px;
  border: 1px lightgray solid;
  will-change: transform;
  transition: transform 100ms ease-out, box-shadow 500ms ease-in, border 500ms ease-out;

}

.card:hover {
  transform: scale(1.009);
  border: 2px var(--main-color) solid;
  box-shadow: darkgray 0 0 20px;
}

.imageContainer {
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  height: 250px;
  width: 100%;
}

.cardImage {
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
  height: 100%;
  display: block;
}

.infoContainer {
  padding: 1rem;
}

.webLink {
  color: var(--main-color);
}

.cardTitle {
  display: flex;
  margin: 0.5rem 0;
  font-size: 1.8rem;
}

.techStack {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
}

.techStack > li {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cardBtns, .cardBtns > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBtns {
  flex-wrap: wrap;
  gap: 2rem;
  color: white;
}

.cardBtns > a {
  gap: 0.3rem;
  color: inherit;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 0.5rem 1rem;
  box-shadow: darkgray 0 5px 9px;
  will-change: tranform;
  transition: var(--btn-transform);
  min-width: 150px;
}

.cardBtns > a:hover {
  color: inherit;
  transform: var(--btn-scale);
  filter: brightness(1.10);
}
