.header-bar {
  width: 100%;
  height: 4.5rem;
  color: var(--main-color);
  background-color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px lightgray;
}

.website {
  color: inherit;
  font-weight: inherit;
  margin-left: 2rem;
  cursor:pointer;
  text-decoration: none;
  user-select: none;
}

.website:hover {
  color: inherit;
  filter: brightness(1.2);
}

.header-btns {
  margin-right: 2rem;
  display: flex;
  gap: 0.6rem;
}

.header-btn {
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  cursor:pointer;
  transition: 0.8s box-shadow ease-in;
  user-select: none;
}

.header-btn:hover {
  box-shadow: #e9e9e9 5px 5px 10px;
}

.header-btn > span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  will-change: transform;
  transition: 0.5s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-btn span:hover {
  transform: scale(1.1);
}
